build/
imSimReal.xcodeproj.save/
imSimReal.xcodeproj/john.*
imSimReal/imSimReal.xcodeproj/john.*
imSimReal/build
imGravityGame/build
imGravityGame/imGravityGame.xcodeproj/john.*
imSimReal-1.moved-aside
imSimReal_0.1RC4.dmg


