<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Earth</key>
	<real>-9.81</real>
	<key>Moon</key>
	<real>-1.624</real>
	<key>Jupiter</key>
	<real>-24.8</real>
</dict>
</plist>
