<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Initialize Gravity</string>
		<key>class</key>
		<string>Gravity</string>
		<key>method</key>
		<string>init</string>
		<key>returnSelectedBody</key>
		<string>Earth</string>
		<key>returnGravity</key>
		<real>-9.81</real>
		<key>execute</key>
		<true/>
	</dict>
</array>
</plist>
