<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Initialize PointObject</string>
		<key>action</key>
		<string>-init</string>
		<key>detailedAction</key>
		<string>Call -init on PointObject</string>
		<key>class</key>
		<string>IMSRPointObject</string>
		<key>method</key>
		<string>init</string>
		<key>inputPositionX</key>
		<integer>0</integer>
		<key>inputPositionY</key>
		<integer>0</integer>
		<key>inputPositionZ</key>
		<integer>0</integer>
		<key>inputVelocityX</key>
		<integer>0</integer>
		<key>inputVelocityY</key>
		<integer>0</integer>
		<key>inputVelocityZ</key>
		<integer>0</integer>
		<key>inputAccelerationX</key>
		<integer>0</integer>
		<key>inputAccelerationY</key>
		<integer>0</integer>
		<key>inputAccelerationZ</key>
		<integer>0</integer>
		<key>deltaTime</key>
		<integer>0</integer>
		<key>resultPositionX</key>
		<integer>0</integer>
		<key>resultPositionY</key>
		<integer>0</integer>
		<key>resultPositionZ</key>
		<integer>0</integer>
		<key>resultVelocityX</key>
		<integer>0</integer>
		<key>resultVelocityY</key>
		<integer>0</integer>
		<key>resultVelocityZ</key>
		<integer>0</integer>
		<key>resultAccelerationX</key>
		<integer>0</integer>
		<key>resultAccelerationY</key>
		<integer>0</integer>
		<key>resultAccelerationZ</key>
		<integer>0</integer>
		<key>execute</key>
		<true/>
		<key>nilReturn</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Initialize PointObject With Position</string>
		<key>action</key>
		<string>-initWithPositionX:positionY:positionZ</string>
		<key>detailedAction</key>
		<string>Call -initWithPositionX: positionY: positionZ: on PointObject</string>
		<key>class</key>
		<string>IMSRPointObject</string>
		<key>method</key>
		<string>initWithPositionX:positionY:positionZ:</string>
		<key>inputPositionX</key>
		<real>1.1</real>
		<key>inputPositionY</key>
		<real>-2.2</real>
		<key>inputPositionZ</key>
		<real>3.3</real>
		<key>inputVelocityX</key>
		<integer>0</integer>
		<key>inputVelocityY</key>
		<integer>0</integer>
		<key>inputVelocityZ</key>
		<integer>0</integer>
		<key>inputAccelerationX</key>
		<integer>0</integer>
		<key>inputAccelerationY</key>
		<integer>0</integer>
		<key>inputAccelerationZ</key>
		<integer>0</integer>
		<key>deltaTime</key>
		<integer>0</integer>
		<key>resultPositionX</key>
		<real>1.1</real>
		<key>resultPositionY</key>
		<real>-2.2</real>
		<key>resultPositionZ</key>
		<real>3.3</real>
		<key>resultVelocityX</key>
		<integer>0</integer>
		<key>resultVelocityY</key>
		<integer>0</integer>
		<key>resultVelocityZ</key>
		<integer>0</integer>
		<key>resultAccelerationX</key>
		<integer>0</integer>
		<key>resultAccelerationY</key>
		<integer>0</integer>
		<key>resultAccelerationZ</key>
		<integer>0</integer>
		<key>execute</key>
		<true/>
		<key>nilReturn</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Initialize With Position &amp; Velocity</string>
		<key>action</key>
		<string>-initWithPosition:Velocity</string>
		<key>detailedAction</key>
		<string>Call -initWithPosition:Velocity</string>
		<key>class</key>
		<string>IMSRPointObject</string>
		<key>method</key>
		<string>initWithPositionX:positionY:positionZ:velocityX:velocityY:velocityZ:</string>
		<key>inputPositionX</key>
		<real>1.1</real>
		<key>inputPositionY</key>
		<real>-2.2</real>
		<key>inputPositionZ</key>
		<real>3.3</real>
		<key>inputVelocityX</key>
		<real>-0.1</real>
		<key>inputVelocityY</key>
		<real>0.2</real>
		<key>inputVelocityZ</key>
		<real>-0.3</real>
		<key>inputAccelerationX</key>
		<integer>0</integer>
		<key>inputAccelerationY</key>
		<integer>0</integer>
		<key>inputAccelerationZ</key>
		<integer>0</integer>
		<key>deltaTime</key>
		<integer>0</integer>
		<key>resultPositionX</key>
		<real>1.1</real>
		<key>resultPositionY</key>
		<real>-2.2</real>
		<key>resultPositionZ</key>
		<real>3.3</real>
		<key>resultVelocityX</key>
		<real>-0.1</real>
		<key>resultVelocityY</key>
		<real>0.2</real>
		<key>resultVelocityZ</key>
		<real>-0.3</real>
		<key>resultAccelerationX</key>
		<integer>0</integer>
		<key>resultAccelerationY</key>
		<integer>0</integer>
		<key>resultAccelerationZ</key>
		<integer>0</integer>
		<key>execute</key>
		<true/>
		<key>nilReturn</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Initialize With Position, Velocity &amp; Acceleration</string>
		<key>action</key>
		<string>-initWithPosition:Velocity:Acceleration</string>
		<key>detailedAction</key>
		<string>Call -initWithPosition:Velocity:Acceleration</string>
		<key>class</key>
		<string>IMSRPointObject</string>
		<key>method</key>
		<string>initWithPositionX:positionY:positionZ:velocityX:velocityY:velocityZ:accelerationX:accelerationY:accelerationZ</string>
		<key>inputPositionX</key>
		<real>1.1</real>
		<key>inputPositionY</key>
		<real>-2.2</real>
		<key>inputPositionZ</key>
		<real>3.3</real>
		<key>inputVelocityX</key>
		<real>-0.1</real>
		<key>inputVelocityY</key>
		<real>0.2</real>
		<key>inputVelocityZ</key>
		<real>-0.3</real>
		<key>inputAccelerationX</key>
		<integer>10</integer>
		<key>inputAccelerationY</key>
		<integer>-10</integer>
		<key>inputAccelerationZ</key>
		<real>10.1</real>
		<key>deltaTime</key>
		<integer>0</integer>
		<key>resultPositionX</key>
		<real>1.1</real>
		<key>resultPositionY</key>
		<real>-2.2</real>
		<key>resultPositionZ</key>
		<real>3.3</real>
		<key>resultVelocityX</key>
		<real>-0.1</real>
		<key>resultVelocityY</key>
		<real>0.2</real>
		<key>resultVelocityZ</key>
		<real>-0.3</real>
		<key>resultAccelerationX</key>
		<integer>10</integer>
		<key>resultAccelerationY</key>
		<integer>-10</integer>
		<key>resultAccelerationZ</key>
		<real>10.1</real>
		<key>execute</key>
		<true/>
		<key>nilReturn</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Compute new time state no velocity or acceleration</string>
		<key>action</key>
		<string>-computeStateForDeltaTime: </string>
		<key>detailedAction</key>
		<string>Call -computeStateForDeltaTime: with no velocity or acceleration</string>
		<key>class</key>
		<string>IMSRPointObject</string>
		<key>method</key>
		<string>-computeStateForDeltaTime:</string>
		<key>inputPositionX</key>
		<real>1.1</real>
		<key>inputPositionY</key>
		<real>-2.2</real>
		<key>inputPositionZ</key>
		<real>3.3</real>
		<key>inputVelocityX</key>
		<integer>0</integer>
		<key>inputVelocityY</key>
		<integer>0</integer>
		<key>inputVelocityZ</key>
		<integer>0</integer>
		<key>inputAccelerationX</key>
		<integer>0</integer>
		<key>inputAccelerationY</key>
		<integer>0</integer>
		<key>inputAccelerationZ</key>
		<integer>0</integer>
		<key>deltaTime</key>
		<integer>1</integer>
		<key>resultPositionX</key>
		<real>1.1</real>
		<key>resultPositionY</key>
		<real>-2.2</real>
		<key>resultPositionZ</key>
		<real>3.3</real>
		<key>resultVelocityX</key>
		<integer>0</integer>
		<key>resultVelocityY</key>
		<integer>0</integer>
		<key>resultVelocityZ</key>
		<integer>0</integer>
		<key>resultAccelerationX</key>
		<integer>0</integer>
		<key>resultAccelerationY</key>
		<integer>0</integer>
		<key>resultAccelerationZ</key>
		<integer>0</integer>
		<key>execute</key>
		<true/>
		<key>nilReturn</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Compute new time state no acceleration</string>
		<key>action</key>
		<string>-computeStateForDeltaTime: </string>
		<key>detailedAction</key>
		<string>Call -computeStateForDeltaTime: with no or acceleration</string>
		<key>class</key>
		<string>IMSRPointObject</string>
		<key>method</key>
		<string>-computeStateForDeltaTime:</string>
		<key>inputPositionX</key>
		<real>1.1</real>
		<key>inputPositionY</key>
		<real>-2.2</real>
		<key>inputPositionZ</key>
		<real>3.3</real>
		<key>inputVelocityX</key>
		<real>-4.4</real>
		<key>inputVelocityY</key>
		<real>5.5</real>
		<key>inputVelocityZ</key>
		<real>-6.6</real>
		<key>inputAccelerationX</key>
		<integer>0</integer>
		<key>inputAccelerationY</key>
		<integer>0</integer>
		<key>inputAccelerationZ</key>
		<integer>0</integer>
		<key>deltaTime</key>
		<integer>1</integer>
		<key>resultPositionX</key>
		<real>-3.3</real>
		<key>resultPositionY</key>
		<real>3.3</real>
		<key>resultPositionZ</key>
		<real>-3.3</real>
		<key>resultVelocityX</key>
		<real>-4.4</real>
		<key>resultVelocityY</key>
		<real>5.5</real>
		<key>resultVelocityZ</key>
		<real>-6.6</real>
		<key>resultAccelerationX</key>
		<integer>0</integer>
		<key>resultAccelerationY</key>
		<integer>0</integer>
		<key>resultAccelerationZ</key>
		<integer>0</integer>
		<key>execute</key>
		<true/>
		<key>nilReturn</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Compute new time state including acceleration</string>
		<key>action</key>
		<string>-computeStateForDeltaTime: </string>
		<key>detailedAction</key>
		<string>Call -computeStateForDeltaTime: with no or acceleration</string>
		<key>class</key>
		<string>IMSRPointObject</string>
		<key>method</key>
		<string>-computeStateForDeltaTime:</string>
		<key>inputPositionX</key>
		<real>1.1</real>
		<key>inputPositionY</key>
		<real>-2.2</real>
		<key>inputPositionZ</key>
		<real>3.3</real>
		<key>inputVelocityX</key>
		<real>-4.4</real>
		<key>inputVelocityY</key>
		<real>5.5</real>
		<key>inputVelocityZ</key>
		<real>-6.6</real>
		<key>inputAccelerationX</key>
		<real>7.7</real>
		<key>inputAccelerationY</key>
		<real>-8.800000000000001</real>
		<key>inputAccelerationZ</key>
		<real>9.9</real>
		<key>deltaTime</key>
		<integer>1</integer>
		<key>resultPositionX</key>
		<real>0.55</real>
		<key>resultPositionY</key>
		<real>-1.1</real>
		<key>resultPositionZ</key>
		<real>1.65</real>
		<key>resultVelocityX</key>
		<real>3.3</real>
		<key>resultVelocityY</key>
		<real>-3.3</real>
		<key>resultVelocityZ</key>
		<real>3.3</real>
		<key>resultAccelerationX</key>
		<real>7.7</real>
		<key>resultAccelerationY</key>
		<real>-8.800000000000001</real>
		<key>resultAccelerationZ</key>
		<real>9.9</real>
		<key>execute</key>
		<true/>
		<key>nilReturn</key>
		<false/>
	</dict>
</array>
</plist>
