<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Gravity</string>
		<key>action</key>
		<string>executeTests</string>
		<key>detailedAction</key>
		<string>GravityTests</string>
		<key>execute</key>
		<false/>
	</dict>
</array>
</plist>
